<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Airline service with Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{../css/default.css}" rel="stylesheet"/>
    <link th:href="@{../css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{../css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <script th:src="@{../js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{../js/bootstrap.min.js}"></script>
    <script th:src="@{../js/main.js}"></script>
</head>
<body>
<div class="container">
    <h1>Destinations on list</h1>
    <a href="/destination/new"><button class="btn btn-success">Add new destination</button></a>

    <div class="filtering">
        <h3>Filtering</h3>

        <h4>Filter</h4>
        <h4>Order</h4>
        <h4>Base</h4>
        <h4>Offset</h4>
        <h4>Count</h4>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="filter" class="col-sm-2 control-label">Filter</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="filter" placeholder="Filter"/>
                </div>
            </div>
            <div class="form-group">
                <label for="order" class="col-sm-2 control-label">Order</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="order" placeholder="Order"/>
                </div>
            </div>
            <div class="form-group">
                <label for="base" class="col-sm-2 control-label">Base</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="base" placeholder="Base"/>
                </div>
            </div>
            <div class="form-group">
                <label for="offset" class="col-sm-2 control-label">Offset</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="offset" placeholder="Offset"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Send</button>
                </div>
            </div>
        </form>
    </div>

    <table class="table table-striped" id="destinations">
        <thead><tr><th>ID</th><th>Name</th><th>Latitude</th><th>Longitude</th><th>Options</th></tr></thead>
        <tbody></tbody>
    </table>
</div>

<script src="../static/js/all-destinations.js"></script>
</body>
</html>