<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Airline service with Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{../css/default.css}" rel="stylesheet"/>
    <link th:href="@{../css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{../css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <script th:src="@{../js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{../js/bootstrap.min.js}"></script>
    <script th:src="@{../js/main.js}"></script>
</head>
<body>
<div class="container">
    <h1>Flights in database</h1>
    <div class="bot-marg">
        <a href="/"><button class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Back</button></a>
        <a href="/flight/new"><button class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add new flight</button></a>
    </div>

    <div class="well well-sm">
        <form class="form-horizontal" id="flight-filter">
            <div class="form-group">
                <label for="filter" class="col-sm-2 control-label">Filter</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="filter" placeholder="Filter"/>
                </div>
            </div>
            <div class="form-group">
                <label for="order" class="col-sm-2 control-label">Order</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="order" placeholder="Order"/>
                </div>
            </div>
            <div class="form-group">
                <label for="base" class="col-sm-2 control-label">Base</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="base" placeholder="Base"/>
                </div>
            </div>
            <div class="form-group">
                <label for="offset" class="col-sm-2 control-label">Offset</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="offset" placeholder="Offset"/>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>

    <table class="table table-striped" id="flights">
        <thead><tr><th>ID</th><th>Name</th><th>Departure</th><th>From</th><th>To</th><th>Seats</th><th>Options</th></tr></thead>
        <tbody id="destination-tbody"></tbody>
    </table>
</div>

<script th:src="@{../js/all-flights.js}"></script>
</body>
</html>