<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Airline service with Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{css/default.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Possible calls:</h1>

    <table class="table table-bordered" id="help">
        <thead>
            <tr><th colspan="3">Destination</th></tr>
        </thead>
        <tbody>
            <tr><td>GET</td><td>/destination</td><td>Return list of all destinations.</td></tr>
            <tr><td>POST</td><td>/destination</td><td>Crete new destination and return its id.</td></tr>
            <tr><td>GET</td><td>/destination/{id}</td><td>Return destination with given id.</td></tr>
            <tr><td>PUT</td><td>/destination/{id}</td><td>Update destination with given id.</td></tr>
            <tr><td>DELETE</td><td>/destination/{id}</td><td>Delete destination with given id.</td></tr>
        </tbody>
        <thead>
            <tr><th colspan="3">Flight</th></tr>
        </thead>
        <tbody>
            <tr><td>GET</td><td>/flight</td><td>Return list of all flights.</td></tr>
            <tr><td>POST</td><td>/flight</td><td>Crete new flight and return its id.</td></tr>
            <tr><td>GET</td><td>/flight/{id}</td><td>Return flight with given id.</td></tr>
            <tr><td>PUT</td><td>/flight/{id}</td><td>Update flight with given id.</td></tr>
            <tr><td>DELETE</td><td>/flight/{id}</td><td>Delete flight with given id.</td></tr>
        </tbody>
        <thead>
            <tr><th colspan="3">Reservation</th></tr>
        </thead>
        <tbody>
            <tr><td>GET</td><td>/reservation</td><td>Return list of all reservations.</td></tr>
            <tr><td>POST</td><td>/reservation</td><td>Crete new reservation and return it with id and password filled.</td></tr>
            <tr><td>GET</td><td>/reservation/{id}</td><td>Return reservation with given id.</td></tr>
            <tr><td>PUT</td><td>/reservation/{id}</td><td>Update reservation with given id.</td></tr>
            <tr><td>DELETE</td><td>/reservation/{id}</td><td>Delete reservation with given id.</td></tr>
        </tbody>
    </table>
</div>
</body>
</html>
