<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Airline service with Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/default.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <script th:src="@{../js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{../js/bootstrap.min.js}"></script>
    <script th:src="@{../js/main.js}"></script>


    <!--<script src="/webjars/sockjs-client/sockjs.min.js"></script>-->
    <!--<script src="/webjars/stomp-websocket/stomp.min.js"></script>-->
</head>
<body>
<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable Javascript and reload this page!</h2>
</noscript>

<div class="container">
    <h1>Welcome to our Airline Service <i class="glyphicon glyphicon-leaf"></i></h1>
    <a href="/help"><button class="btn btn-info">Help</button></a>

    <h3>Destination guidepost</h3>
    <a href="/destination/all"><button class="btn btn-primary fixed-width">Get all destinations</button></a>
    <a href="/destination/new"><button class="btn btn-success fixed-width">Add new destination</button></a>

    <h3>Flights</h3>
    <a href="/flight/all"><button class="btn btn-primary fixed-width">Get all flights</button></a>
    <a href="/flight/new"><button class="btn btn-success fixed-width">Add new flight</button></a>

    <h3>Reservations</h3>
    <a href="/reservation/cross"><button class="btn btn-primary fixed-width">Get reservation</button></a>
    <a href="/reservation/new"><button class="btn btn-success fixed-width">Add new reservation</button></a>
</div>

<div id="clients_count" class="container" style="margin-top: 2em;">
    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
</div>


<div id="main-content" class="container" style="margin-top: 2em;">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">What is your name?</label>
                    <input type="text" id="name" class="form-control" placeholder="Your name here..." />
                </div>
                <button id="send" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Greetings</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>