<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Airline service with Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/default.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>Welcome to our Airline Service <i class="glyphicon glyphicon-leaf"></i></h1>
    <a href="/help"><button class="btn btn-info">Help</button></a>

    <h2>Destination guidepost</h2>
    <a href="/destination/all"><button class="btn btn-primary">Get all destinations</button></a>
    <a href="/destination/new"><button class="btn btn-success">Add new destination</button></a>

    <h2>Flights</h2>
    <a href="/flight/all"><button class="btn btn-primary">Get all flights</button></a>
    <a href="/flight/new"><button class="btn btn-success">Add new flight</button></a>

    <h2>Reservations</h2>
    <a href="/reservation/cross"><button class="btn btn-primary">Get reservation</button></a>
    <a href="/reservation/new"><button class="btn btn-success">Add new reservation</button></a>
</div>
</body>
</html>